doctype html
html
  head
    title= title
    //default
    link(rel='stylesheet', href='/stylesheets/style.css')

    //favicon
    link(rel='shortcut icon', href='/images/lupa.ico')

    //Google icon font
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    //Import materialize.css
    link(type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection")

    //optimized for mobiles
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //favicon
    link(rel="icon" href="http://example.com/favicon.png")

    //extends template

  body
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="materialize/js/materialize.min.js")
    block content
